h1 {
            color: pink;
            font-size: 30px;
        }
img {
            width:480ps
        }
h2, h3, h4 {
            color: rgba(111, 59, 6, 0.459);
            font-size: 24px;
        }